<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <title>Note-It! App</title>
</head>
<body>
    <%- include('../partials/header')%>
    <h1>Welcome to Note-it! </h1>

    <button id="get-notes-button" class = "btn btn-secondary btn-lg "> Get Notes</button>
    <button id="get-notes-button" class = "btn btn-secondary btn-lg "> New Note</button>
    <div id="notesContainer" class="card-deck">

    </div>

    <script type="application/x-javascript" src="../scripts/script.js" ></script>
</body>
</html>